<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <title>导航条</title>
    <link rel="stylesheet" href="../static/css/navigation.css">
</head>
<body>

<div class="menu">
    <div class="box">
        <div class="left">
            <span class="item">
                <img class="logo" src="../static/img/logo.jpeg">
            </span>
            <span class="item"><a class="active" href="index.html">主页</a></span>
            <span class="item"><a href="groups.html">群组</a></span>
            <span class="item"><a href="bank.html">题库</a></span>
            <span class="item"><a href="upload.html">上传</a></span>
            <span class="item"><a href="record.html">记录</a></span>
            <span class="item"><a href="user.html">用户</a></span>
            <span class="item"><a href="about.html">关于</a></span>
        </div>
        <div class="right search">
            <input type="text" class="searchBox search-btn">
            <a>
                <img src="../static/img/search.png" class = "icon">
            </a>
        </div>
        <div class="right">
            <a href="user.html">
                 <img src="../static/img/user.jpg" class = "right userImg">
            </a>
        </div>
    </div>
</div>

</body>
</html>
